In [1]:
import pandas as pd
movie_info = pd.read_csv('/home/intellect/Documents/Data_Scientist/DecisionTree_Classifier/Movie_Interests_DecisionTree.csv')
movie_info.head()

   Age  Gender   Interest
0    8       1  Animation
1   11       1  Animation
2   12       1  Animation
3   16       1     Action
4   18       1     Action

In [2]:
input_dataset = movie_info.drop('Interest', axis=1)
input_dataset.head()

   Age  Gender
0    8       1
1   11       1
2   12       1
3   16       1
4   18       1

In [3]:
out_dataset = movie_info['Interest']
out_dataset.head()

0    Animation
1    Animation
2    Animation
3       Action
4       Action
Name: Interest, dtype: object

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(input_dataset, out_dataset)
movie_intrest  = model.predict([[14,0],[40,1]])
movie_intrest

/home/intellect/Documents/Data_Scientist/venv/lib/python3.12/site-packages/sklearn/utils/validation.py:2691: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Animation', 'Drama'], dtype=object)